// Overrides styles for an existing LA component
.category-list {}

.category-box {
	background-color: $gray-10;
	border-radius: 5px;
	height: auto;
	margin-bottom: 30px;
	min-height: 400px;
	overflow: visible;
	padding: 15px 5px;
}

.category-box ul {
	padding-left: 0;
}

.category-box li  {
	padding: 0;

	a {
		line-height: 2em;

		&:hover,
		&:focus {
			color: $blue-10;
		}
	}
}

.category-item-link {
	padding: 0 0 1em 0;
}

.category-box .item-link a:hover,
.category-box .item-link a:focus {
	text-decoration: none;
}

.category-box-title {
	border-bottom: none;
	text-align: center;
	font-size: 20px;
	padding-left: 0px;
	font-weight: 900;
}

.category-box-title:before {
	display: none;
}

.category-box-title .category-link {
	border: 0;
	color: $black;

	&:hover,
	&:focus {
		color: $gray-30;
		text-decoration: none;
	}
}

.item-link-subcat a {
	border: 0;
	padding-left: 2em;

	&:hover,
	&:focus {
		color: $blue-10;
	}
}

.item-A:before {
	display: none;
}

.panel-default > .panel-heading {
	border-bottom: none;
	background-color: $white;
}

.panel-default {
	border: none;
}

.panel-default a {
	color: $black;
}

.list-group-item {
	border: none;
	background: none;
	padding-left: 124px;
	padding-right: 124px;
}