.featured-content {
	display: flex;
	justify-content: center;
	padding: 2em;

	@media (min-width: $river) {
		padding: 60px;
	}
}

.featured-content__wrapper {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	max-width: 100%;
	width: 100%;

	@media (min-width: $river) {
		flex-flow: row wrap;
	}

	@media (min-width: $harbor) {
		flex-flow: row nowrap;
	}
}

.featured-content__item {
	align-content: flex-start;
	background: $white;
	border: 1px solid $blue-20;
	border-radius: 6px;
	color: $black;
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: flex-start;
	margin: 0 1% 30px;
	padding: 50px 20px 20px;
	position: relative;
	text-decoration: none;
	top: 0;
	transition: all .25s;

	@media (min-width: $lake) {
		min-height: 310px;
	}

	&:hover,
	&:focus {
		top: -.5em;
	}

	&:last-child(1) {
		margin-right: 0;
	}
}

.featured-content__item a {
	border-bottom: 0;

	&:hover,
	&:focus {
		color: $black;
	}
}

.featured-content__item a:hover .featured-content__icon {
	@media (min-width: $lake) {
		transform: scale( 1.1 );
	}
}

.featured-content__body {
	display: flex;
	flex-direction: column;
	padding: 0 10px;
}

.featured-content__body h2 {
	line-height: 30px;
	margin-bottom: 1em;
}

.featured-content__body p {
	font-size: 16px;
	max-width: 300px;

	@media (min-width: $lake) {
		max-width: 500px;
	}
}

.featured-content__icon {
	margin-bottom: 20px;
	left: 1em;
	min-height: 75px;
	position: relative;
	transition: all .25s;

	@media (min-width: $lake) {
		left: 0;
		text-align: center;
	}

	img {
		width: 90px;
	}
}