.footer {
	background: $gray-50;
	color: $white;
	width: 100%;

	a {
		color: $white;

		&:hover {
			color: $blue-10;
			text-decoration: none;
		}
	}
}

.footer__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 30px;

	@media (min-width: $lake) {
		flex-direction: row;
		justify-content: space-between;
	}
}

.footer__brand {
	display: flex;
	margin-bottom: 15px;

	@media (min-width: $river) {
		margin-bottom: 0;
	}
}

.footer__logo {
	margin-right: 15px;

	img {
		width: 30px;
	}
}

.footer__name {
	font-size: 24px;
	font-weight: 100;
}

.footer__nav {
	font-size: 14px;
	line-height: 2.5;
}

.footer__nav span {
	display: block;
	height: 0;
	margin: 0 5px;
	opacity: 0;

	@media (min-width: $river) {
		display: inline;
		height: auto;
		opacity: 1;
	}
}