// Styles overrides for the LiveAgent element.
.navbar {
	margin-bottom: 0;
	position: relative;
}

/*
 * Navbar
 */
.navbar {
	background: $black;

	@media (min-width: $harbor) {
		margin: 0 auto;
		max-width: 1298px; /* body width */
	}
}

.navbar-brand {
	width: 200px !important; // Override LA's media query style

	@media (min-width: 768px) {
		margin-top: 1.25em;
	}
}

.navbar-brand p {
	padding-left: 50px;
}

.scrolled .navbar {
	background: $black;
}

// Needed to override a LiveAgent ruleset
.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
	background: $black;
}

.navbar-nav {

	@media (min-width: 768px) {
		margin-left: 0;
	}

	@media (min-width: $lake) {
		margin-left: 15px;
	}
}

.navbar li {
	margin: 1em .25em;

	@media (min-width: 768px) {
		margin: 1em 0;
	}

	@media (min-width: $harbor) {
		margin: 1em .25em;
	}
}

// Needed to override a LiveAgent ruleset
.navbar-nav > li > a {
	border: 0;
	color: $blue-10;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	transition: color .25s;

	@media (min-width: 768px) {
		padding: 10px;
	}

	@media (min-width: $lake) {
		padding: 10px 15px;
	}
}

// Needed to override a LiveAgent ruleset
.nav > li > a:hover {
	background: none;
	color: $white;
}

.navbar-brand {
	width: 300px !important; // Needed to override LiveAgent
}

a.navbar-brand {
	background-size: 85%;
	border: none;
	display: block;
	position: relative;
}

// Needed to override a LiveAgent ruleset
.navbar > .container .navbar-brand {

	@media (min-width: $river) {
		margin-top: 1.25em;
	}
}

// User avatar
.nav>li#menu-item-user .Avatar {
	border-radius: 50%;
}

// The entire user nav menu item
.nav>li#menu-item-user.menu-item-admin>a#editProfileButton {
	vertical-align: bottom;
}

.Avatar img {
	border-radius: 50%;
}

.Avatar.Agent:before,
.Avatar.Agent:after {
	display: none;
}

.navbar .glyphicon {
	display: none; // No icons in the nav, please.
}