.portals {
	display: flex;
	flex-direction: column;
	margin-bottom: 60px;
	padding: 0 2em;

	@media (min-width: $lake) {
		flex-flow: row wrap;
		padding: 0 80px;
	}
}

.portals__portal {
	background-color: $gray-10;
	border-radius: 4px;
	flex: 1;
	margin-bottom: 2em;
	margin-right: 0;
	padding: 15px 45px;

	@media (min-width: $lake) {
		margin-bottom: 0;
		margin-right: 2em;
	}

	&:nth-last-child(1) {
		margin-right: 0;
	}

	.button {
		margin-top: 1em;
		width: 60%;
	}
}

.portals__content {
	p {
		max-width: 350px;
	}

	ul {
		list-style-type: none;
		padding-left: 0;
	
		@media (min-width: $lake) {
			list-style-type: none;
			padding-left: 1em;
		}
	}

	li a {
		border-bottom: 2px solid $blue-20;
		color: $black;
		padding-bottom: 2px;
		text-decoration: none;

		&:hover,
		&:focus {
			color: $blue-10;
		}
	}
}

.portals__icon {
	float: right;
	margin: 1.25em 0 1.25em;
	position: relative;
	width: 75px;
}