html {
	background-color: $gray-20;
	display: flex;
	justify-content: center;

	@media (min-width: $harbor) {
		align-items: center;
	}
}

body {
	background-color: $white;
	color: $gray-70;
	font-family: $body-font;
	font-size: 16px;
	max-width: $harbor + 100;
	margin: 0;
	overflow-x: hidden;
	padding: 0;
	width: 100%;

	@media (min-width: $harbor) {
		border-left: 1px solid $gray-20;
		border-right: 1px solid $gray-20;
	}

	&.scrolled {
		@media (min-width: 768px) {
			padding-top: 151px;
		}
	}
}