.button {
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	color: $white;
	display: inline-block;
	font-weight: 500;
	font-size: 16px;
	line-height: 1;
	height: auto;
	margin-bottom: 30px;
	padding: 20px;
	text-align: center;
	transition: all .15s ease-in-out;
	width: auto;

	&:hover,
	&:focus {
		color: $white;
		text-decoration: none;
	}
}

.button--primary {
	background-color: $blue-10;

	&:hover,
	&:focus {
		background-color: $blue-20;
	}
}

.button--secondary {
	background-color: $green-10;

	&:hover,
	&:focus {
		background-color: $green-20;
	}
}

.button--inverted {
	background-color: $white;
	color: $gray-50;

	&:hover,
	&:focus {
		background-color: hsla(0,0%,100%,.85);
		color: $gray-50;
	}
}