a {
	border-bottom: 2px solid $blue-20;
	color: $black;
	padding-bottom: 2px;
	text-decoration: none;
	transition: all .25s ease-in;

	&:hover,
	&:focus {
		color: $blue-10;
		text-decoration: none;
	}
}

// The scroll-to-top element
#scroll-top {
	border: 0;
}