ul, ol {
	font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
	line-height: 1.5;
}

ul>li,
ol>li {
	margin: 1em;
}

ol {
	counter-reset: default-counter;
	padding-left: 0;
}

ol>li {
	list-style: none;
	margin: 1em 1em 1em 3em;
}

ol li:before {
	content: counter(default-counter);
	counter-increment: default-counter;
	background: #006cae;
	border-radius: 50%;
	color: #fff;
	font-weight: 900;
	height: 30px;
	left: 0;
	margin-right: 25px;
	padding-top: 3px;
	position: absolute;
	text-align: center;
	width: 30px;
}