$black:			#000000;
$white:			#ffffff;

$gray-10:		#f7f7f7;
$gray-20:		#e4e3e3;
$gray-30:		#999;
$gray-40:		#636363;
$gray-50:		#414141;
$gray-60:		#2d2b2f;
$gray-70:		#1A1919;

$blue-10:		#36a0ea;
$blue-20:		#1a9ed7;
$blue-30:		#006cae;

$green-10:	#19bc9c;
$green-20:	#1abc9c;