$black:			#000000;
$white:			#ffffff;

$gray-10:		#f7f7f7;
$gray-20:		#e4e3e3;
$gray-30:		#999;
$gray-40:		#636363;
$gray-50:		#414141;
$gray-60:		#2d2b2f;
$gray-70:		#1A1919;

$blue:			#36A0EA;
$blue-10:		#0A8CC9;
$blue-20:		#0183be;
$blue-30:		#0063a3;

$green-10:	#16b4a2;
$green-20:	#1abc9c;

$linear-gradient: linear-gradient(-45.38deg, $green-20 0%, $blue 68.11%, $blue-10 100%);