@import "page-article.scss";
@import "page-category.scss";
@import "page-home.scss";
@import "page-my_profile";
@import "page-search.scss";
@import "page-mytickets.scss";
@import "page-submit-ticket.scss";