// Overrides existing LA element.
// .page-article {}
// LA class naming does not follow BEM, so grouping the child components in here.
.page-article .jumbotron h1 {
	font-size: 40px;
}

.article-page {
	padding: 2em;
}

.article-page .col-md-3 {
	display: none;

	@media (min-width: 1025px) {
		background-color: $gray-20;
		display: block;
		padding-top: 1em;
		position: absolute;
		right: 0;
		width: 277px;
	}
}

.article-content p {
	font-size: 16px;
	line-height: 1.5;
	margin-top: 0 !important; // Need to override LA style.

	@media (min-width: $river) {
		font-size: 18px;
		line-height: 1.75;
	}
}

.article-page .list-group {
	padding: 0 0 1em 0;
}

.article-page .list-group-item {
	font-size: 14px;
	padding-bottom: 0;
	padding-left: 0;

	&:first-child {
		margin-top: .25em;
		padding-top: 0;
	}
}

.ArticleContent img {
	border: 15px solid $gray-10;
	border-radius: 5px;
	padding: .5em;
}